<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="toasts" class="toast-container">

    <div th:if="${errors}">
        <div th:each="error : ${errors}" class="toast" onclick="this.remove()">
            <span th:text="${error}">Ошибка</span>
        </div>
    </div>

    <div th:if="${successMessage}">
        <div class="toast success" onclick="this.remove()">
            <span th:text="${successMessage}">Успех</span>
        </div>
    </div>

</div>

<script th:fragment="toastScript">
    setTimeout(function () {
        document.querySelectorAll('.toast').forEach(function (toast) {
            toast.remove();
        });
    }, 5000);
</script>
</body>
</html>